/* Basic Styling */
body{
  font-size: 100px;
  font-family: "Lucida Console", "Courier New", monospace 5rem / 1 '';
  font-weight: 900;
  background-color: black
}
.text{
  background-image: url(https://scitechdaily.com/images/White-Dwarf-Star-With-Planet.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: animatedText 3.5s infinite alternate-reverse;
}
@keyframes animatedText{
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }

<style>
.background-image {
    background-image:url('assets/ghjbj.gif');
    background-size:contain;
    background-attachment: fixed;
  }
</style>
