@import 'jeet'
@import 'nib';
body {
  background-color: #000;
}
#console {
  font-family: courier, monospace;
  color: #fff;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
}

a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #ff0096;
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}

@keyframes change {
  0% {
    color: #0f0;
  }
  50% {
    color: #0f0;
  }
  99% {
    color: black;
  }
}
<style>
.background-image {
    background-image:url('assets/ghjbj.gif');
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>

.snow-bros li {
  width: 80px;
  height: 80px;
  margin: 15px;
  background-repeat: no-repeat;
  display: inline-block;
}
.snow-bros li.a {
  background-image: linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 50px 10px, 30px 70px, 10px 10px, 20px 10px, 20px 20px, 10px 80px, 20px 60px, 10px 60px;
  background-position: 10px 0px, 0px 10px, 40px 10px, 50px 10px, 30px 30px, 30px 0px, 50px 20px, 70px 20px;
}
.snow-bros li.e {
  background-image: linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to left, #3d060a 10px, #daa520 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 30px 80px, 50px 10px, 50px 10px, 50px 10px, 50px 10px, 50px 10px, 50px 10px, 10px 80px;
  background-position: 0px 0px, 30px 0px, 40px 10px, 30px 30px, 40px 40px, 30px 60px, 40px 70px, 30px 0px;
}
.snow-bros li.f {
  background-image: linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 30px 80px, 50px 10px, 50px 10px, 50px 10px, 50px 10px, 10px 80px;
  background-position: 0px 0px, 30px 0px, 40px 10px, 30px 30px, 40px 40px, 30px 0px;
}
.snow-bros li.h {
  background-image: linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 30px 80px, 20px 20px, 10px 80px, 20px 80px, 10px 80px;
  background-position: 0px 0px, 30px 30px, 30px 0px, 50px 0px, 70px 0px;
}
.snow-bros li.l {
  background-image: linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to left, #3d060a 10px, #daa520 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 30px 80px, 50px 10px, 10px 80px, 50px 10px;
  background-position: 0px 0px, 30px 60px, 30px 0px, 30px 70px;
}
.snow-bros li.m {
  background-image: linear-gradient(to left, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to bottom, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 30px 10px, 30px 70px, 10px 30px, 10px 30px, 10px 40px, 20px 80px, 10px 80px;
  background-position: 0px 0px, 0px 10px, 30px 10px, 40px 10px, 30px 40px, 50px 0px, 70px 0px;
}
.snow-bros li.o,
.snow-bros li.zero {
  background-image: linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 20px, #09c5d8 20px, #09c5d8 30px, #00a2e2 30px), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a 10px, #00a2e2 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a 10px, #daa520 10px), linear-gradient(to top, #3d060a, #3d060a), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 30px, #09c5d8 30px, #09c5d8 40px, #00a2e2 40px), linear-gradient(to top, #3d060a 10px, #daa520 10px, #daa520 20px, #09c5d8 20px, #09c5d8 30px, #00a2e2 30px), linear-gradient(to top, #3d060a, #3d060a);
  background-size: 10px 60px, 20px 80px, 20px 20px, 10px 10px, 20px 20px, 10px 80px, 10px 80px, 10px 60px, 10px 60px;
  background-position: 0px 10px, 10px 0px, 30px 0px, 60px 0px, 30px 60px, 30px 0px, 50px 0px, 60px 10px, 70px 10px;
}
