@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

divv {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 8rem;
  position: absolute;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.05em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0;
}


body {
  background-color: #000;
}
#console {
  font-family: courier, monospace;
  color: #fff;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
}

a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #ff0096;
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}

@keyframes change {
  0% {
    color: #0f0;
  }
  50% {
    color: #0f0;
  }
  99% {
    color: black;
  }
}
<style>
.background-image {
    background-image:url('assets/ghjbj.gif');
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
